<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<title>Educational</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="~/Content/layout.css" type="text/css" />
<script type="text/javascript" src="~/Scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.slidepanel.setup.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.tabs.setup.js"></script>
</head>

<body style ="background-color:#8B785F">
  <div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <h1><a href="#">Online Web Portal</a></h1> 
      
    </div>
    <div class="fl_right">
      <ul>   
        <li class="last"><a href="/Admin/logout">Logout</a></li>
        <li><a href="#">Online Support</a></li>
        <li><a href="#">School Board</a></li>
      </ul>
      <p>Tel: +92 123 4567 | Mail: info@portal.com</p>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="topnav">
      </div>
    </div>
       <div class ="wrapper col3">
    <h2> Welcome to your Home Page </h2>
           <br />
           <br />
    </div>
    </body>
</html>
