@{
    ViewBag.Title = "addManyUsers";
}

<div style ="background-color:#8B785F">
<br />
<br />
<br />
<div align="center" class="wrapper col0" style="width:800px ; margin:auto ;text-align:center">
<form method ="post" action ="/Admin/SaveFile" enctype="multipart/form-data">

        <h2 >Upload File:</h2><br><br>
        <input type="file" name = "text">

        <br><button class="btn btn-lg btn-primary btn-block" type="submit" style ="width:350px" id ="save">UpLoad</button>       

    </form>

    </div>
 </div>