@{
    ViewBag.Title = "addUser";
}
<div style ="background-color:#8B785F">
<br />
<br />
<br />
    <div align="center" class="wrapper col0" style="width:800px ; margin:auto ;text-align:center">

    <table>
        <tr>
            <td>
            @Html.ActionLink("Add Batch Of Users","addManyUsers")
            </td>
        </tr>
        <tr>
            <td>
            @Html.ActionLink("Add one User","addOneUser")
            </td>
        </tr>
        <tr>
            <td>
            @Html.ActionLink("Add Users","addUser")
            </td>
        </tr>
    </table>


    </div>

</div>