@{
    ViewBag.Title = "courseToStudent";
 }
   <div style ="background-color:#8B785F">
<br />
<br />
<br />
<div align="center" class="wrapper col0" style="width:800px ; margin:auto ;text-align:center">     
  <h3>Add Student To Course</h3><br><br>
    <form role="form" method ="post" action ="/Admin/studentToCourse">
    <table>
        <tr>
           <td>
            <label for ="name" class ="control-label" >Student ID </label>
            <input type="text" class="form-control" name ="sid" placeholder="Student ID" required id ="id" style ="width:350px">
            </td>
        </tr>
        <tr>
            <td>
            <label for ="name" class ="control-label" >Course ID </label>
            <input type="text" class="form-control" name ="cid" placeholder="Course ID" required id ="cid" style ="width:350px">
            </td>
                
        </tr>
        <tr>
            <td>
            <button type="submit" style ="width:350px" id ="save">Submit</button>
            </td>
        </tr>
    </table>
    </form>
    </div>
</div>

